<div class="index-categories-block flex-old">
            <div class="item">
                <a href="{{ url_seks_igrushki }}">
                    <div class="content">
                        <img src="/extension/eroticshop/catalog/view/img/cat1.svg">
                        <div class="name-category"><span><span>Секс игрушки</span></span></div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_vozbuditeli }}">
                    <div class="content">
                        <img src="/extension/eroticshop/catalog/view/img/cat2.svg">
                        <div class="name-category"><span><span>Возбудители</span></span></div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_poppers }}">
                    <div class="content">
                        <img src="/extension/eroticshop/catalog/view/img/cat3.svg">
                        <div class="name-category"><span><span>Попперсы</span></span></div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_intim_uhod }}">
                    <div class="content">
                        <img src="/extension/eroticshop/catalog/view/img/cat4.svg">
                        <div class="name-category"><span><span>Интим уход</span></span></div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_bdsm }}">
                    <div class="content">
                        <img src="/extension/eroticshop/catalog/view/img/cat5.svg">
                        <div class="name-category"><span><span>БДСМ</span></span></div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_eroticheskoe_bele }}">
                    <div class="content">
                        <img src="/extension/eroticshop/catalog/view/img/cat6.svg">
                        <div class="name-category"><span><span>Эротическое белье</span></span></div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_suveniry }}">
                    <div class="content">
                        <img src="/extension/eroticshop/catalog/view/img/cat7.svg">
                        <div class="name-category"><span><span>Сувениры</span></span></div>
                    </div>
                </a>
            </div>
        </div>
