{{ header }}
        <div class="indexbg">
            <div class="wrap">
                {{ category_img_index }}
              </div>
            <div class="index-container">

                {{ latest_products }}
                {{ products_discount }}
                {{ info_block_1 }}
            </div>
            {{ info_block_2 }}
        </div>

<div class="index-about-block">
    <div class="wrap">
        <div class="text">
            <h2>EROTIC SHOP - ИНТИМНЫЙ МАГАЗИН ДЛЯ ВЗРОСЛЫХ</h2>
            <div class="image">
                <img src="/extension/eroticshop/catalog/view/img/about.png">
            </div>
            <p>Общество уже давно избавилось от предрассудков, которые делали секс скучным, обыденным, что негативно сказывалось на отношениях между партнерами, их сексуальном и общем здоровье. Именно сексшоп сегодня стал своеобразной интимной аптекой. Местом, где можно купить товары, которые необходимы для достижения гармонии в сексуальных отношениях, позволяют сделать секс ярким и страстным.</p>
            <p>Интим товары способны не только разнообразить вашу сексуальную жизнь, но и оказать максимально благотворное влияние на физическое и психологическое здоровье. Такой универсальный эффект легко объяснить, но обо всем по порядку.</p>
        </div>
    </div>
</div>

        {{ popup_cart }}

{{ footer }}
