{#<form class="opened" id="search">
    <input type="text" id="text-serch-input" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control form-control-lg">
    <button type="button" id="btn-serach-resault" data-lang="{{ language }}"><i class="fa-solid fa-magnifying-glass"></i>Поиск</button>
</form>#}
{#<div id="search"  class="input-group-opened">#}
{#    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="inpt-header-serach">#}
{#    <button type="button" data-lang="{{ language }}" class="btn-serach-header-slt"><i class="fa-solid fa-magnifying-glass"></i>Поиск</button>#}
{#</div>#}


<form id="search">
    <input type="text" name="search" placeholder="Найти товар..." value="{{ search }}">
    <button type="button" data-lang="{{ language }}">Поиск</button>
</form>


